* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.navbar {
    background-color: rgb(187, 123, 247);
    height: 80px;
    color: rgba(255, 255, 255, 0.959);
    display: flex;
    justify-content: space-between;
    padding: 25px 10px 10px 10px;
}

a {
    color: rgba(255, 255, 255, 0.959);
    text-decoration: none;
}

body {
    background-color: rgba(187, 123, 247, 0.568);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(255, 255, 255, 0.959);
}

.se {
    text-align: center;
    color: purple;
    padding-top: 20px;
    text-shadow: 5px 3px 5px rgba(235, 26, 235, 0.651);
}

.filters {
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;

    input {
        width: 300px;
        height: 40px;
        padding: 2px 5px;
        border: solid 5px purple;
        border-radius: 10px;
        background-color: rgba(190, 136, 240, 0.829);
        color: white;
    }

    select {
        width: 300px;
        height: 40px;
        padding: 2px 5px;
        border: solid 5px purple;
        border-radius: 10px;
        background-color: rgba(190, 136, 240, 0.829);
        color: white;
    }
}

.button {
    border: solid 3px purple;
    background-color: rgba(190, 136, 240, 0.829);
    width: 70px;
    height: 40px;
    border-radius: 6px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(126, 28, 218);

}

#search:focus {
    background-color: rgba(79, 36, 119, 0.788);
}

input::placeholder {
    color: rgba(255, 255, 255, 0.603);
}

select:focus {
    background-color: rgba(79, 36, 119, 0.788);
}

.slider {
    padding-top: 50px;
    height: 330px;
    display: flex;
    position: relative;
    transform: 1s all;
    overflow: hidden;

    .card {
        width: calc(100% /3.1);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8px;
        padding: 50px 0 ;
        background-color: blueviolet;
        flex-shrink: 0;
        border: 2px solid rgba(0, 0, 0, 0.664);
        border-radius: 20px;
    }
}
.pictcher{
    border: 2px solid rgba(51, 4, 51, 0.904);
    border-radius: 25px;
    padding: 4px;
    background-color: rgba(173, 138, 175, 0.822);
    margin: 10px;
}

.btns {
    position: absolute;
    top: 72%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Purchases {
    padding: 30px 50px;

    .head {
        text-align: center;
        text-transform: capitalize;
        margin: 10px 0px;

        h2 {
            color: purple;
            text-shadow: 5px 3px 5px rgba(235, 26, 235, 0.651);
            padding-bottom: 8px;
        }

        p {
            font-weight: 600;
        }
    }

    .inputs {
        padding-top: 30px;

        input {
            width: 300px;
            height: 40px;
            border: solid 3px rgba(172, 7, 158, 0.712);
            border-radius: 10px;
            background-color: rgba(42, 2, 80, 0.781);
            color: rgba(255, 255, 255, 0.897);
            font-size: 18px;
            margin-left: 5px;
        }
    }

    input:focus {
        background-color: blueviolet;
        transform: scale(1.1);
    }
}

.submite {
    width: 95%;
    background-color: rgba(175, 166, 184, 0.877);
    height: 40px;
    margin-top: 25px;
    border: solid 4px rgba(128, 0, 128, 0.671);
    border-radius: 10px;
    color: rgba(250, 235, 215, 0.863);
    font-size: 20px;
    font-weight: 300;
    transition: 0.5s;
}

.submite:hover {
    background-color: rgba(167, 80, 248, 0.712);
    letter-spacing: 2px;
    cursor: pointer;
}

table {
    width: 80%;
    text-align: center;
    margin: 60px auto;
    font-weight: 700;

    th {
        text-transform: uppercase;
        color: blueviolet;
        font-size: 20px;
    }

    button {
        background-color: rgb(165, 78, 247);
        border: solid 1px rgba(197, 9, 197, 0.781);
        border-radius: 5px;
        width: 80px;
        height: 33px;
        color: white;
        transition: 0.7s;
    }

    th,
    td {
        padding: 5px;
    }

    td {
        color: rgba(37, 37, 37, 0.753);
        font-size: 18px;
    }
}

#update:hover {
    background-color: blueviolet;
    transform: scale(1.1);
}

#delete:hover {
    background-color: blueviolet;
    transform: scale(1.1);
}

.deletall {
    width: 95%;
    background-color: rgba(175, 166, 184, 0.877);
    height: 40px;
    margin-top: 25px;
    border: solid 4px rgba(128, 0, 128, 0.671);
    border-radius: 10px;
    color: rgba(250, 235, 215, 0.863);
    font-size: 20px;
    font-weight: 300;
    transition: 0.5s;
}

.deletall:hover {
    background-color: rgba(167, 80, 248, 0.712);
    letter-spacing: 2px;
    cursor: pointer;
}